@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
div{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    
}

i {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-359%);
}